.header__logo {
  margin: 0;
  width: auto;
  margin-bottom: 41px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-top: auto;
    margin-bottom:32px;
    margin-left: 27px;
    width: 104px;
    height: 24px;
  }
}