.header__logout {
  margin: 6px 0 0;
  color: #a9a9a9;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__logout {
    position: absolute;
    bottom: 120px;
    left: 45%;
    text-align: center;
  }
}